---
layout: default
bodyClass: "page-post"
---

<div class="container-fluid pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <div class="service service-single">
        <h1 class="title">{{page.title}}</h1>
	<p>
	  {{ page.date | date_to_string }}
	  {% assign author = site.authors | where: 'short_name', page.author | first %}
	  {% if author %} - <a href="{{ author.url }}">{{ author.name }}</a>
	  {% endif %}
	</p>
        <div class="content"><p>{{content}}</p></div>
      </div>
    </div>
  </div>
</div>
